<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:title" content="{{name}}">
    <meta property="og:description" content="{{description}}">
    <meta property="og:image" content="https://yescelebrate.yesbank.in/story_images/{{image}}">
    <meta property="og:url" content="https://yescelebrate.yesbank.in/share/{{id}}">
    <link rel="canonical" href="https://yescelebrate.yesbank.in/share/{{id}}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <style>
        body {
            background: url('/bluewaves_stories.JPG') no-repeat center center fixed;
            /* background-position: 91% 0%; */
            /* background-repeat: no-repeat; */
            /* background-position: top; */
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            height: 100%;
           
        }

        .maindiv {
            border: 1px solid #ddd;
            min-height: 200px;
            width: 500px;
            border-radius: 10px;
            margin: 50px auto;
            overflow: hidden;
            background: #fff;
        }

        @media screen and (max-width:600px) {
            .maindiv {
                width: 100% !important
            }
        }
    </style>
</head>

<body>

    <div class="container-fluid">
        <div class="container">
            <div class="maindiv" style="">
                <div style="padding:20px;">
                    <h4 class="text-center" style="margin:0px;" id="namediv">{{name}}</h4>
                </div>
                <div style="width:200px;height:200px;margin:10px auto;">
                    <img id="viewstories" src="https://yescelebrate.yesbank.in/story_images/{{image}}"
                        style="width:100%;height:100%;object-fit:contain;border-radius:10px;" />
                </div>
                <div id="descriptiondiv" style="padding:20px;text-align:justify">{{description}}</div>

            </div>
        </div>
    </div>
    </div>
    <!-- <script>
        console.log(window.location.href);
        var url = new URL(window.location.href);
        console.log(url.pathname)
        var idsplit = url.pathname.split('/');
        var id = idsplit[2];
        console.log(id);

        // var id = url.split('/');
        // console.log(id[2]);
        getstories(idsplit[2]);
        async function getstories(id) {

            var json = "../storiesupdated.json";
            var storiesdata;
            // console.log(json);

            await $.getJSON(json, function (data) {
                console.log("lol2");
                storiesdata = data;
                // console.log(JSON.stringify(storiesdata,null,2))
                for (var i = 0; i < storiesdata.length; i++) {
                    if (id == storiesdata[i]._id) {
                        // console.log(JSON.stringify(storiesdata[i],null,2));
                        document.getElementById('namediv').innerHTML = storiesdata[i].name;
                        $("#viewstories").attr('src', 'https://yescelebrate.yesbank.in/story_images/'+storiesdata[i].image);
                        // $("#viewstories").attr('src', 'http://localhost:9713/story_images/' + storiesdata[i].image);
                        document.getElementById('descriptiondiv').innerHTML = storiesdata[i].description;
                        $('#title').attr('content', storiesdata[i].name);
                        $('#metadescription').attr('content', storiesdata[i].description);
                    }

                }
            });
        }

    </script> -->
</body>

</html>